.container{
    background: #0d0d0d;
    width: 50vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bol{
    width: 100px;
    height: 100px;
    background-color: #f2e205;
    border-radius: 50%;
    animation: jump 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
hr{
    width: 100px;
    margin-top: 100px;
    border: 1px solid #f2e205;
}
@keyframes jump{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateY(100px);

    }
}
